MARKETING_VERSION = 1.0.4
CURRENT_PROJECT_VERSION = 1402

// Vars to be overwritten by `Signing.xcconfig` if exists
DEVELOPMENT_TEAM = EU74F4WL9R
ORG_IDENTIFIER = ny

// If you hsve a paid account
CODE_SIGN_IDENTITY = Apple Development

// Codesigning settings defined optionally, see `Signing.xcconfig.example`
#include? "Sign.xcconfig"

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_NAME = nyCounter
//PRODUCT_NAME[configuration=Debug] = Prov Debug

PRODUCT_BUNDLE_IDENTIFIER   = $(ORG_PREFIX).count
// add team ID to bundle ID for debug builds since these will most likely be installed via Xcode
// SideStore will expect the team ID to be at the end of the bundle ID, but this doesn't happen when we install via Xcode
// we don't want to do this for release since those builds will most likely be installed via SideServer, which adds the team ID
//PRODUCT_BUNDLE_IDENTIFIER[config=Debug] = $(ORG_PREFIX).count.$(DEVELOPMENT_TEAM)

EXTENSION_PREFIX            = $(PRODUCT_BUNDLE_IDENTIFIER)
APP_GROUP_IDENTIFIER        = $(PRODUCT_BUNDLE_IDENTIFIER)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.ny.apps
